<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Semilleros S.A.S/lineas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-success navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Semilleros S.A</a>
    </div>
    <a href="/" class="navbar-brand">Marcas Semillero</a>
    <a href="/lineas" class="navbar-brand">linea</a>
    <a href="/Vehiculos" class="navbar-brand">Vehiculos</a>
  </nav>

  <h1>lineas</h1>
  <div class="container-fluid mt-3" >
    <div class="row">
    
      <div class="col p-3">
      
        <table class="table table-bordered table-hover">
          <thead>
          <tr>
            <th>N°</th>
            <th>descripcion</th>
            <th>Estado</th>
            <th>id_marcas</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% if (data) { %>
            <% for(var i = 0; i < data.length; i++) { %>
              <tr>
                <td><%= (i + 1) %></td>
                <td><%= data[i].descripcion %></td>
                <td><%= data[i].estado %></td>
                <td><%= data[i].marcas_id %></td>
                <td>
  
                  <a class="btn btn-danger" href="/lineas/delete/<%= data[i].id %> ">Borrar</a>
                  <a href=" /lineas/update/<%= data[i].id %>" class="btn btn-info">Edit</a>
                  <a href="" class="btn btn-success"">Vehiculos</a>
                </td>
        
              </tr>
            <% } %>
          <% } %>
  
  
        </tbody>
        </table>
      </div>

      <div class="col p-3">
        <div class="card" >
          <div class="card-body">
  
            <form action="/lineas/add" method="post">
              
              <div class="mb-3 mt-3">
                <label class="form-label" id="descripcion">Descrición:</label><br>
                <input type="text" name="descripcion" placeholder="Descripcion" clasd="form-control">
              </div>
              <div class="mb-3 mt-3">
                <label class="form-label">Estado:</label><br>
                <input type="text" name="estado" placeholder="Estado" clasd="form-control">
              </div>

              <div class="mb-3 mt-3">
                <label class="form-label">id_marcas:</label><br>
                <input type="text" name="marcas_id" placeholder="marcas_id" clasd="form-control">
              </div>
              <button type="submit" class="btn btn-primary">Guardar lineas</button>
            </div>
  
        </div>
      </div>
    